<%- include('./template/cabecera',{tituloWeb:'Inicio'}) %>


    <h1 align="center" class="text-primary">Mi tiendagenerica </h1>
    <h2 align="center">
        <%=  %>
    </h2>
    <p></p>
         <hr></hr>
         <!--<a href="productos">productos</a>-->
         <%- include('./template/footer'); %>