<%- include('./template/cabecera',{tituloWeb:'Productos'}) %>

    <h1 align="center"> Productos</h1>
    <h2 align="center" class="text-primary">
        <%= tituloProductos %>
    </h2>
    <p>
    <link rel="stylesheet" href="/css/estilos.css">
    </p>
    <div class="container">
        <form action="#">
            Código: <input text>
            Nombre: <input text>
            Precio: <input text>
        </form>
    </div>
    <!--<a href="/">Inicio</a>-->
    <%- include('./template/footer'); %>